/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== button.css =====================================================
  == Styles used by the XUL (and XHTML in netError.xhtml) button element.
  ======================================================================= */

/* :::::::::: button :::::::::: */

button {
  margin: 2px;
  border: 6px solid;
  -moz-border-top-colors: transparent transparent transparent #000000 #BBBBBB #B1B1B1;
  -moz-border-right-colors: transparent transparent transparent #000000 #A2A2A2 #A7A7A7;
  -moz-border-bottom-colors: transparent transparent transparent #000000 #979797 #9D9D9D;
  -moz-border-left-colors: transparent transparent transparent #000000 #BBBBBB #B1B1B1;
  border-radius: 5px;
  min-width: 6em;
  background-color: #AAAAAA;
  background-clip: padding-box;
  color: #000000;
  font: menu;
}

.button-icon {
  -moz-margin-start: 2px;
}

.button-text {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  -moz-margin-start: 4px !important;
  -moz-margin-end: 6px !important;
  text-align: center;
}

/* .......... focused state .......... */

button:focus {
  -moz-border-top-colors: transparent #989898 #989898 #000000 #BBBBBB #B1B1B1;
  -moz-border-right-colors: transparent #989898 #989898 #000000 #A2A2A2 #A7A7A7;
  -moz-border-bottom-colors: transparent #989898 #989898 #000000 #979797 #9D9D9D;
  -moz-border-left-colors: transparent #989898 #989898 #000000 #BBBBBB #B1B1B1;
}

/* .......... active/open/checked state .......... */

button:hover:active,
button[checked="true"],
button[open="true"] {
  -moz-border-top-colors: transparent transparent transparent #000000 #828282 #898989;
  -moz-border-right-colors: transparent transparent transparent #000000 #828282 #898989;
  -moz-border-bottom-colors: transparent transparent transparent #000000 #828282 #898989;
  -moz-border-left-colors: transparent transparent transparent #000000 #828282 #898989;
  background-color: #909090;
  color: #FFFFFF;
}

button:hover:active:focus,
button[checked="true"]:focus,
button[open="true"]:focus {
  -moz-border-top-colors: transparent #989898 #989898 #000000 #828282 #898989;
  -moz-border-right-colors: transparent #989898 #989898 #000000 #828282 #898989;
  -moz-border-bottom-colors: transparent #989898 #989898 #000000 #828282 #898989;
  -moz-border-left-colors: transparent #989898 #989898 #000000 #828282 #898989;
}

/* .......... disabled state .......... */

button[disabled="true"] {
  -moz-border-top-colors: transparent transparent transparent #828282 #C6C6C6 #BCBCBC !important;
  -moz-border-right-colors: transparent transparent transparent #828282 #A9A9A9 #B2B2B2 !important;
  -moz-border-bottom-colors: transparent transparent transparent #828282 #A9A9A9 #B2B2B2 !important;
  -moz-border-left-colors: transparent transparent transparent #828282 #C6C6C6 #BCBCBC !important;
  background-color: #B7B7B7 !important;
  color: #8C8C8C !important;
}
  
/* .......... default state .......... */

button[default="true"] {
  -moz-border-top-colors: transparent transparent #000000 #000000 #BBBBBB #B1B1B1;
  -moz-border-right-colors: transparent transparent #000000 #000000 #A2A2A2 #A7A7A7;
  -moz-border-bottom-colors: transparent transparent #000000 #000000 #979797 #9D9D9D;
  -moz-border-left-colors: transparent transparent #000000 #000000 #BBBBBB #B1B1B1;
}

button[default="true"]:hover:active {
  -moz-border-top-colors: transparent transparent #000000 #000000 #828282 #898989;
  -moz-border-right-colors: transparent transparent #000000 #000000 #828282 #898989;
  -moz-border-bottom-colors: transparent transparent #000000 #000000 #828282 #898989;
  -moz-border-left-colors: transparent transparent #000000 #000000 #828282 #898989;
  border-radius: 4px;
}

button[default="true"]:hover:active:focus {
  -moz-border-top-colors: #989898 #989898 #000000 #000000 #828282 #898989;
  -moz-border-right-colors: #989898 #989898 #000000 #000000 #828282 #898989;
  -moz-border-bottom-colors: #989898 #989898 #000000 #000000 #828282 #898989;
  -moz-border-left-colors: #989898 #989898 #000000 #000000 #828282 #898989;
}

button[default="true"]:focus {
  -moz-border-top-colors: #989898 #989898 #000000 #000000 #BBBBBB #B1B1B1;
  -moz-border-right-colors: #989898 #989898 #000000 #000000 #A2A2A2 #A7A7A7;
  -moz-border-bottom-colors: #989898 #989898 #000000 #000000 #979797 #9D9D9D;
  -moz-border-left-colors: #989898 #989898 #000000 #000000 #BBBBBB #B1B1B1;
}

/* ::::: menu/menu-button buttons ::::: */

button[type="menu-button"] {
  border: none;
  background: transparent !important;
}

.button-menubutton-button {
  margin: 0;
}

.button-menu-dropmarker,
.button-menubutton-dropmarker {
  margin: 1px;
  background-color: transparent;
  border: none;
}
  
.button-menubutton-dropmarker[open="true"] {
  margin-top: 2px;
  margin-bottom: 0px;
  -moz-margin-start: 2px;
  -moz-margin-end: 0px;
}

/* ::::: plain buttons ::::: */

button.plain,
button.plain:hover,
button.plain:hover:active
{
  margin: 0px;
  border: none !important;
  padding: 0px;
}

/* ::::: xhtml buttons ::::: */

button::-moz-focus-inner {
  padding: 0px;
  border: 0px none;
}
