/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

dropmarker {
  -moz-box-align: center;
  -moz-box-pack: center;
  border: 3px solid;
  -moz-border-top-colors: #000000 #BBBBBB #B3B3B3;
  -moz-border-bottom-colors: #000000 #9F9F9F #A3A3A3;
  -moz-border-right-colors: #000000 #9F9F9F #A3A3A3;
  -moz-border-left-colors: #000000 #BBBBBB #B3B3B3;
  border-radius: 2px;
  padding-top: 3px;
  padding-bottom: 2px;
  background-color: #A6A6A6;
  list-style-image: url("chrome://global/skin/menulist/mlist-arrow.gif");
}

dropmarker[disabled="true"] {
  -moz-border-top-colors: #727272 #D0D0D0 #BDBDBD !important;
  -moz-border-right-colors: #727272 #ABABAB #B3B3B3 !important;
  -moz-border-top-colors: #727272 #D0D0D0 #BDBDBD !important;
  -moz-border-bottom-colors: #727272 #ABABAB #B3B3B3 !important;
  background-color: #B7B7B7 !important;
  list-style-image: url("chrome://global/skin/menulist/mlist-dis-arrow.gif") !important;
}
