/* -*- Mode: Java; tab-width: 2; indent-tabs-mode: nil; c-basic-offset: 2 -*-
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ::::: Feed Subscription UI icons :::::: */

#subscriptionsDialog { 
  padding: 0px;
}

#contentPane {
  margin: 9px 8px 5px;
}

#subscriptionChildren::-moz-tree-image(folderNameCol) {
  -moz-margin-end: 2px;
  list-style-image: url("chrome://messenger-newsblog/skin/icons/rss-feed.png");
  -moz-image-region: rect(0 16px 16px 0);
  width: 16px;
  height: 16px;
}

#subscriptionChildren::-moz-tree-image(folderNameCol, container) {
  list-style-image: url("chrome://messenger/skin/icons/folder.png");
  -moz-image-region: rect(0 16px 16px 0);
}

#subscriptionChildren::-moz-tree-image(folderNameCol, container, open) {
  -moz-image-region: rect(0 32px 16px 16px);
}

#rssFeedInfoBox {
  border: 1px solid ThreeDShadow;
  border-radius: 0px;
  margin: 4px;
  padding: 0px;
}

#backgroundBox {
  background-color: #FFFFFF; 
  opacity: 0.5;
}
