#eula {
  -moz-appearance: none;
  color: -moz-FieldText;
  background-color: -moz-Field;
  margin: 1em;
  border: 1px solid;
  -moz-border-top-colors: ActiveBorder;
  -moz-border-right-colors: ActiveBorder;
  -moz-border-bottom-colors: ActiveBorder;
  -moz-border-left-colors: ActiveBorder;
}